* {
    font-family: Libre Baskerville,Georgia,Times,Times New Roman,serif;
    color: #383838;
    margin:0%;
}

a, a:visited{
    color: black;
    text-decoration: underline;
}

a:hover {
    color: blue;
}

.main-title{
    position: relative;
}

h1{
    font-family: Montserrat,sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0%;
    display: inline;
}
h2{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;
}

p{
    margin-bottom: 18px;
    line-height: 1.6;
    font-size: 18px;
}

.title-text{
    display: inline;
    background-color: #fff;
    position: absolute;
    width: 600px;
    bottom: 38px;
    left: 20%;
    padding:  4px 0 6px;
}

.article-date{
    font-family: Nimbus Sans, sans-serif;
    background-color: #fff;
    display: inline;
    margin: 0%;
    font-size: 11px;
    color: #727272

}

.main-image{
    width: 100%;
    max-height: 600px;
    object-fit:cover;
    background-position: 50%;
}

.main-image-subtitle{
    display: block;
}

figcaption, .caption{
    font-family: Nimbus Sans, sans-serif;
    color: #555768;
    line-height: 18px;
    font-size: 11px;
    margin-bottom: 24px;
    padding-left: 20%;
    left: 20%;

}

.attribution{
    font-family: Nimbus Sans, sans-serif;
    color: #ccc;
}



.main-content{
    display: block;
    margin: auto;
    width: 58%;
}

.content-img{
    max-width:100%;
    object-fit:scale-down;
    /*display: block;*/
}

.no-margin{
    margin:0%;
}

.sidebar-left{
    margin-left: 8%;
    float: left;
    color: #555768;
}
.sidebar-left li{
    list-style-type: none;
    padding-bottom: 10px;
    font-family: Nimbus Sans,sans-serif;
    line-height: 18px;
    font-size: 11px;
}
.sidebar-left li a{
    text-decoration:none;
}

.sidebar-left li img{
    max-height: 15px;
}

.sidebar-left ol:hover{
    float: left;
    text-decoration: none;
    color: #101114;
    ;
}

.sidebar-right{
    float: right;
}

footer, footer a{
    background-color: #202020;
    color: white;
    margin: auto;

}

.four-column{
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.clr{
    clear: both;
}

.pre-footer{
    background-color: #383838;
    color: #fff;
    margin:auto;
}
.pre-footer a{
    color: #fff;
    list-style-type: none;
}

.copyright{
    color: #fff;
}

footer a{
    text-decoration: none;
    margin-right: 1em;
    font-weight: 400;
}
footer a:hover{
    border-bottom: 1px solid #d6d6da;
    color: #d6d6da
}

@font-face {
    font-family: 'Nimbus Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://github.com/cacalo/CaloNews/blob/main/fonts/Nimbus-Sans-D-OT-Ultra-Light_32757.ttf) format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
