* {
    font-family: Libre Baskerville,Georgia,Times,Times New Roman,serif;
    color: #383838;
    margin:0%;
}

a, a:visited{
    color: black;
    text-decoration: underline;
}

a:hover {
    color: blue;
}

.main-title{
    position: relative;
}

h1{
    font-family: Montserrat,sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0%;
    display: inline;
}
h2{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;
}

p{
    margin-bottom: 18px;
    line-height: 1.6;
    font-size: 18px;
}

.title-text{
    display: inline;
    background-color: #fff;
    position: absolute;
    width: 600px;
    bottom: 38px;
    left: 20%;
    padding:  4px 0 6px;
}

.article-date{
    font-family: PT Sans, sans-serif;
    background-color: #fff;
    display: inline;
    margin: 0%;
    font-size: 11px;
    color: #727272

}

.main-image{
    width: 100%;
    max-height: 600px;
    object-fit:cover;
    background-position: 50%;
}

.main-image-subtitle{
    display: block;
}

figcaption, .caption{
    font-family: PT Sans, sans-serif;
    color: #555768;
    line-height: 18px;
    font-size: 11px;
    padding-left: 20%;
    left: 20%;

}

.attribution{
    font-family: PT Sans, sans-serif;
    color: #ccc;
}

blockquote{
    border-left: 8px solid #afb2ba;
    font-style: normal;
    font-weight: 700;
    clear: both;
    padding: 9px 18px 12px;
    margin-bottom: 18px;
    color: #484848;
    line-height: 1.6;
    font-size: 18px;

}


.main-content{
    display: block;
    margin: auto;
    width: 58%;
}

.content-img{
    max-width:100%;
    object-fit:scale-down;
    display: block;
}

.no-margin{
    margin:0%;
}

.sidebar-left{
    margin-left: 8%;
    float: left;
    color: #555768;
    font-family: "PT Sans",sans-serif;
}
.sidebar-left li{
    list-style-type: none;
    padding-bottom: 10px;
    font-family: "PT Sans",sans-serif;
    line-height: 18px;
    font-size: 11px;
}
.sidebar-left li a{
    text-decoration:none;
}

.sidebar-left li img{
    max-height: 15px;
}

.sidebar-left ol:hover{
    float: left;
    text-decoration: none;
    color: #101114;
    ;
}

.sidebar-right{
    float: right;
}

footer, footer a{
    background-color: #202020;
    color: white;
    margin: auto;
    width: 58%;

}

.three-column{
    padding-top: 24px;
}

.four-column{
    float: left;
    width: 20%;
    box-sizing: border-box;
    line-height: 1.7;
}
.four-column ul{
    padding: 0%;
}
.four-column img{
    max-height: 50px;
    float: right ;
}

.clr{
    clear: both;
}

.pre-footer{
    color: #fff;
    margin: auto;
    width: 58%;
}

.pre-footer-container{
    background-color: #383838;
    padding: 20px 0px;
}
.pre-footer a{
    color: #fff;
    list-style-type: none;
    text-decoration: none;
}
.pre-footer a:hover{
    border-bottom: 1px solid #fff;
}

.copyright{
    color: #fff;
}

footer a{
    text-decoration: none;
    margin-right: 1em;
    font-weight: 400;
}
footer a:hover, footer a:visited{
    border-bottom: 1px solid #d6d6da;
    color: #d6d6da
}

footer nav{
    display: inline;
    font-family:'PT Sans', sans-serif;
}

.footer-wrapper{
    background-color: #202020;
}

.tags-container{
    list-style: none;
    display: block;
    margin-bottom: 30px;
}

.tags-container::after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}

.tag{
    font-family:'PT Sans', sans-serif;
    background-color: #eee;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #555;
    display: block;
    font-size: 11px;
    font-weight: 700;
    margin: 0 6px 6px 0;
    padding: 0 6px;
    text-decoration: none;
    white-space: nowrap;
    list-style: none;
    float: left;
}

.tag-icon{
    float: left;
    max-width: 22px;
    5px
}

.tag:hover, .tag a:hover{
    background-color: #d8352a;
    color: #fff;
}
